<!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Amitava Shee</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Projects</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Bio</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Education</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/in/amitavashee" target="_blank"><i class="fa fa-linkedin-square"></i> amitavashee</a></li>
            <li><a href="https://github.com/ashee" target="_blank"><i class="fa fa-github"></i> ashee</a></li>
            <li><a href="https://twitter.com/amitavashee" target="_blank"><i class="fa fa-twitter"></i> @amitavashee</a></li>
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>    