---
layout: default

---
          <div class="blog-post">
            <h1 class="blog-post-title">{{ page.title }}</h1>
            <p class="blog-post-meta">{{ page.date | }} <a href="#"> {{ page.author }}</a></p>

            <div style="overflow: auto">
            {{ content }}
            </div>

            <nav>
              <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </nav>

          </div><!-- /.blog-post -->
